# Ignorar carpetas __pycache__ en cualquier parte del proyecto
**/__pycache__/

# Ignorar archivos .DS_Store en cualquier parte del proyecto
**/.DS_Store

# Ignorar la carpeta .vscode en la raíz del proyecto
.vscode/